<div class="home-container">
  <nav>
    <app-header></app-header>
  </nav>

  <div class="content">
    <span class="left">
      <div class="text">
        <p class="name">Derick Avila</p>
        <div class="line"></div>
        <span>
          <p class="job">Fullstack Web</p>
          <p class="job">Developer</p>
          <span class="shadow">
            <p class="shadow-text">Fullstack Web</p>
            <p class="shadow-text">Developer</p>
          </span>
        </span>
        <p class="resume">
          Fullstack developer focused on creating Web applications
          and Softwares as a service. I really like different projects
          that solve real problems.
        </p>
      </div>
      <div class="buttons">
        <div class="downloadButtons" >
          <div class="downloadCV" (click)="downloadCV($event)">
            <img src="/assets/cloud_down.svg"  >
            <p class="text">Download CV</p>
          </div>
          <div class="downloadPortfolio">
            <img src="/assets/circle_down.svg">
            <p class="text">Portfolio</p>
          </div>
        </div>
        <div class="socialButtons">
          <div class="socialCircle">
            <img src="/assets/instagram.svg">
          </div>
          <div class="socialCircle">
            <img src="/assets/github.svg">
          </div>
          <div class="socialCircle">
            <img src="/assets/linkedin.svg">
          </div>
      </div>

      </div>
    </span>

    <span class="circle-frame">
      <img src="/assets/dollify.png">
    </span>
  </div>
</div>
