<div class="home-container">
  <nav>
    <app-header></app-header>
  </nav>

  <div class="content">
    <span class="left">
      <div class="text">
        <p class="name">Derick Avila</p>
        <div class="line"></div>
        <span class="job">
          <p class="job-text">Fullstack Web</p>
          <p class="job-text">Developer</p>
        </span>
        <span class="shadow">
          <p class="shadow-text">Fullstack Web</p>
          <p class="shadow-text">Developer</p>
        </span>
        <p class="resume">
          Fullstack developer focused on creating Web applications
          and Softwares as a service. I really like different projects
          that solve real problems.
        </p>
      </div>
      <div class="buttons">
        <div class="downloadButtons" >
          <a href="https://drive.google.com/file/d/1XZv_Z1Y10dP24r0Exlsg-temhOfVhSGp/view?usp=sharing" target="_blank">
            <div class="downloadCV">
              <img src="/assets/cloud_down.svg"  >
              <p class="text">Download CV</p>
            </div>
          </a>
          <a href="https://github.com/Dkavila/portfolio" target="_blank">
            <div class="downloadPortfolio">
              <img src="/assets/circle_down.svg">
              <p class="text">Portfolio</p>
            </div>
          </a>
        </div>
        <div class="socialButtons">
          <a href="https://www.facebook.com/derickmavila" target="_blank">
            <div class="socialCircle">
              <img src="/assets/facebook.svg">
            </div>
          </a>
          <a href="https://github.com/Dkavila" target="_blank">
            <div class="socialCircle">
              <img src="/assets/github.svg">
            </div>
          </a>
          <a href="https://www.linkedin.com/in/derick-avila/" target="_blank">
            <div class="socialCircle">
              <img src="/assets/linkedin.svg">
            </div>
          </a>
      </div>

      </div>
    </span>

    <span class="circle-frame">
      <img src="/assets/dollify.png">
    </span>
  </div>
</div>
